//Миксины дают возможность быстро переиспользовать фрагметы кода. Могут иметь аргументы.

//Миксин для стилизации кнопок
@mixin style-link($color) 
    display: inline-block
    text-transform: uppercase
    text-decoration: none
    color: $color

//Миксин для устранения схлопывания элементов при работе с float'ами
@mixin clearfix
    &::after
        content: ""
        display: table
        clear: both